@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap";

@import "styles/header.css";
@import "styles/footer.css";
@import "styles/main.css";
html { 
  font-size: 100%;
  box-sizing: content-box;
  padding-right: 100px;
  padding-left: 100px;
}